::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #EB1616;
    border-radius: 10px;
}

.table-fixed {
    table-layout: fixed;
}

.h-20rem {
    height: 20rem;
}

.h-10rem {
    max-height: 10rem;
}

.h-6rem {
    height: 6rem;
}

.h-4rem {
    height: 4rem;
}

.h-2rem {
    height: 2rem;
}